.Left_content {
	width: 20%;
	height: 1125px;
	float: left;


	padding-top:80px;
}
.Center_content {
	width: 60%;
	float: left;
	height: 1125px;

	padding-top:80px;
}
.Right_content {
	height: 1125px;
	width: 20%;
	float: right;

	
}
.Left_menu{
box-shadow: 10px 10px 5px grey;
}
